.tabs {
  &__tab {
    position: relative;
    cursor: pointer;
    border-bottom: none;
    padding: 5px 10px 0;
    color: rgb(130, 130, 130);
    font-size: 14px;

    &--close {
      position: absolute;
      cursor: pointer;
      font-size: 10px;
      top: 0px;
      right: 4px;
    }

    &--active {
      cursor: auto;
      border: 1px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      border-bottom: 1px solid rgb(0, 0, 0);
      padding-right: 20px;

    }

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
    &:hover {
      color: rgb(244, 244, 244);
    }
  }
}
